.m-10 {
  margin: 0% 10% 0%;
}
.header,
.footer {
  background-color: #2d82b5;
}
.header > nav > div > a{
  text-decoration: none;
}
.nav-brand > h1,h6{
  color: white;
}

.navbar-nav {
  margin-left: 7%;
}
.navbar-nav > li > a:hover {
  color: #fb6602 !important;
}
.navbar-nav > li > .dropdown-menu > a:hover {
  background-color: #88cdf6;
}
      /*  footer */
.footer > div > div > h6 > a {
  color: white;
}
.footer > div > div > h6 > a:hover {
  color: #fb6602;
  text-decoration: none;
}
.navbar-nav,
.dropdown-menu,
.footer {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.dropdown-menu > button{
  color: white;
}
.dropdown-menu > button:hover{
  background-color: #88cdf6;
  color: white;
}

      /* end of footer */


.tableFixHead {
  overflow-y: auto;
  height: 500px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 16px;
}

th {
  background: #eee;
}
