.m-10 {
  margin: 0% 10% 0%;
}
.header, .footer{
  background-color: #2D82B5;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.tableFixHead {
  overflow-y: auto;
  height: 500px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 16px;
}

th {
  background: #eee;
}
.navbar-nav{
  margin-left: 20%;
}
.navbar-nav, .dropdown-menu, .footer{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.navbar-nav > li > .dropdown-menu > a:hover{
  background-color: #88CDF6;
}

h1,h6{
  color: white;
}