.header {
  padding: 30px;
  text-align: center;
  background: beige;
  color: white;
  font-size: 30px;
  margin-bottom: 60px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
