{% extends "web/base.html" %} {% block head %}
<title>Europe Situation</title>
{% endblock %} {% block body %}
<!-- summary of cases -->
<div class="summary-cases">
  <h3 class="text-center">Summary of Cases in Europe</h3>
  <div clss="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="table text-center">
          <th scope="col">Total Cases</th>
          <th scope="col">Active</th>
          <th scope="col">Recovered</th>
          <th scope="col">Death</th>
        </tr>
        <tr class="table text-center">
          <th scope="col">0</th>
          <th scope="col">0</th>
          <th scope="col">0</th>
          <th scope="col">0</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{% endblock %}
