{% extends "web/base.html" %}

{% block head %}
<style>
  /* Header/Logo Title */
  .header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    margin-bottom: 60px;
  }
</style>
</head>
{% endblock %}

{% block body %}
<div class="header">
  <h2>Monitoring Covid 19</h2>
</div>
<h4>Covid 19 cases by Country</h4>
<div id="regions_div" style="width: 50%; height: auto; margin: 0 auto;"></div>






<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    'packages': ['geochart'],
    // Note: you will need to get a mapsApiKey for your project.
    // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Country');
    data.addColumn('number', 'Confirmed');
    data.addRows({{ table| safe}});

  var options = {
    colorAxis: { colors: ['#00853f', 'black', '#e31b23'] },
    backgroundColor: '#81d4fa',
    datalessRegionColor: '#f8bbd0',
    defaultColor: '#f5f5f5',
  };

  var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

  chart.draw(data, options);
    }
</script>


{% endblock %}