{% extends "web/base.html" %} {% load static %} {% block head%}
<title>References</title>
{% endblock %} {% block body %}
<div class="mt-5" style="margin-left: 2%;">
  <h2 class="lang" key="references">
    References
  </h2>
  <ul>
    <li>
      <a href="https://ncov.moh.gov.vn/"
        >TRANG TIN VỀ DỊCH BỆNH VIÊM ĐƯỜNG HÔ HẤP CẤP COVID-19
      </a>
    </li>
    <li>
      <a href="https://www.worldometers.info/coronavirus/"
        >COVID-19 CORONAVIRUS PANDEMIC
      </a>
    </li>
    <li>
      <a href="https://coronavirus.jhu.edu/map.html">
        COVID-19 Dashboard by the Center for Systems Science and Engineering
        (CSSE) at Johns Hopkins University (JHU)
      </a>
    </li>
    <li>
      <a
        href="https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases"
      >
        European Centre for Disease Prevention and Control
      </a>
    </li>
  </ul>
</div>
{% endblock %}
