{% extends "web/base.html" %} {% block head %}
<title>America Situation</title>
{% endblock %} {% block body %}

<body>
  <!-- summary of cases -->
  <div class="summary-cases mt-5 m-10">
    <h3 class="text-center lang" key="sum_us">Summary of Cases in US</h3>
    <div clss="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="table text-center">
            <th scope="col" class="lang" key="total_cases">Total Cases</th>
            <th scope="col" class="lang" key="active">Active</th>
            <th scope="col" class="lang" key="recover">Recovered</th>
            <th scope="col" class="lang" key="death">Death</th>
          </tr>
          <tr class="table text-center">
            <th scope="col">0</th>
            <th scope="col">0</th>
            <th scope="col">0</th>
            <th scope="col">0</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div
    class="flex-fill mt-5 mb-5 m-10 text-center"
    style="background-color: #fbf9f9;"
  >
    <h3 class="lang" key="us_map">COVID-19 America map</h3>
    <div
      class="h-75"
      id="geochart-colors"
      style="width: 90%; height: auto; padding-bottom: 15px; margin: 0 auto;"
    ></div>
  </div>

  <div class="summary-cases mt-5 m-10">
    <h3 class="text-center lang" key="sum_us">Summary of Cases per States</h3>
    <div class="tableFixHead table-bordered">
      <table>
        <thead>
          <tr>
            <th scope="col" class="lang" key="states">State</th>
            <th scope="col" class="lang" key="total_cases">Total Cases</th>
            <th scope="col" class="lang" key="active">Active</th>
            <th scope="col" class="lang" key="recover">Recovered</th>
            <th scope="col" class="lang" key="death">Death</th>
          </tr>
        </thead>
        <tbody style="overflow-y: auto; height: 200px;">
          {% for state in states %}
          <tr>
            <td>{{ state.0 }}</td>
            <td>{{ state.1 }}</td>
            <td>{{ state.3 }}</td>
            <td>{{ state.4 }}</td>
            <td>{{ state.2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script
    type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"
  ></script>
  <script type="text/javascript">
    google.charts.load('current', {
        'packages': ['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', "State")
        data.addColumn('number', 'Confirmed')
        {% for state in states %}
        data.addRow(['{{ state.0}}', {{ state.1 }}]);
    {% endfor %}

    var options = {
        region: 'US',
        colorAxis: { colors: ['green', 'yellow', 'orange', 'red'] },
        backgroundColor: '#81d4fa',
        datalessRegionColor: '#f8bbd0',
        defaultColor: '#f5f5f5',
        resolution: 'provinces'
    };

    var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
    chart.draw(data, options);
    };
  </script>
</body>
{% endblock %}
