{% extends "web/base.html" %} {% block head %}
<title>Vietnam Situation</title>

{% endblock %} {% block body %}
<div class="main-area mt-5">
  <!-- summary of cases -->
  <div class="summary-cases">
    <h3 class="text-center">Summary of Cases in Vietnam</h3>
    <div clss="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="table text-center">
            <th scope="col">Total Cases</th>
            <th scope="col">Active</th>
            <th scope="col">Recovered</th>
            <th scope="col">Death</th>
          </tr>
          <tr class="table text-center">
            <td scope="col">{{ summary.1 }}</td>
            <td scope="col">{{ summary.3 }}</td>
            <td scope="col">{{ summary.4 }}</td>
            <td scope="col">{{ summary.2 }}</td>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="w-100 h-75 mt-5" id="geochart-colors"></div>

  <div class="tableFixHead mt-5">
    <table>
      <thead>
        <tr>
          <th>City/Province</th>
          <th>Total Cases</th>
          <th>Active</th>
          <th>Recovered</th>
          <th>Death</th>
        </tr>
      </thead>
      <tbody style="overflow-y: auto; height: 200px;">
        {% for city in cities_summary %}
        <tr>
          <td>{{ city.0 }}</td>
          <td>{{ city.1 }}</td>
          <td>{{ city.2 }}</td>
          <td>{{ city.3 }}</td>
          <td>{{ city.4 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="w-100 h-75 mt-5" id="case_curve_chart"></div>
  <div class="w-100 h-75 mt-5" id="age_chart"></div>
  <div class="w-100 h-75 mt-5 mb-5" id="gender_chart"></div>

  <script
    type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"
  ></script>
  <!-- case chart with curve -->
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date')
      data.addColumn('number', 'Confirmed');
      data.addColumn('number', 'Death');
      data.addColumn('number', 'Active');
      data.addColumn('number', 'Recovered');

      data.addRows({{ rows| safe}});

    var options = {
      title: 'Vietnam Covid 19 Cases',
      curveType: 'function',
      backgroundColor: '#fbf9f9',
      legend: { position: 'right' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('case_curve_chart'));

    chart.draw(data, options);
      };
  </script>

  <!-- case by age -->
  <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable()
      data.addColumn('string', 'Patient')
      data.addColumn('number', 'Age')
      data.addRows({{ ages|safe}})

    var options = {
      title: 'Vietnam COVID-19 cases by ages',
      backgroundColor: '#fbf9f9',
      legend: { position: 'right' },
    };

    var chart = new google.visualization.Histogram(document.getElementById('age_chart'));
    chart.draw(data, options);
    }
  </script>
  <!-- case by gender -->
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date')
      data.addColumn('number', 'Male');
      data.addColumn('number', 'Female');
      data.addColumn('number', 'Total');

      data.addRows({{ sexs| safe }});


    var options = {
      chart: {
        title: 'Cases by Gender',
        backgroundColor: '#fbf9f9',
      }
    };

    var chart = new google.charts.Bar(document.getElementById('gender_chart'));

    chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  </script>

  <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable()
      data.addColumn('string', 'Patient')
      data.addColumn('number', 'Age')
      data.addRows({{ ages| safe}})

    var options = {
      title: 'Age of patients, in year',
      legend: { position: 'right' },
    };

    var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
    chart.draw(data, options);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', {
      'packages': ['geochart'],
      // Note: you will need to get a mapsApiKey for your project.
      // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
      'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', "City/Province")
      data.addColumn('number', 'Confirmed')
      {% for city in cities_geomap %}
      data.addRow(['{{ city.0}}', {{ city.1 }}]);
    {% endfor %}



    var options = {
      region: 'VN',
      colorAxis: { colors: ['green', 'yellow', 'orange', 'red'] },
      backgroundColor: '#81d4fa',
      datalessRegionColor: '#f8bbd0',
      defaultColor: '#f5f5f5',
      resolution: "provinces"
    };

    var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
    chart.draw(data, options);
    };
  </script>
  {% endblock %}
</div>
